:root {
  font-family: Lexend, Inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: hsl(220, 5%, 10%); */
  background-color: hsl(220, 5%, 6%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
}

html:active-view-transition-type(slide-left) {
  &::view-transition-old(front-page) {
    animation: .3s ease-in-out both slide-out-right;
  }

  &::view-transition-new(front-page) {
    animation: .3s ease-in-out both slide-in-right;
  }
}

html:active-view-transition-type(slide-right) {
  &::view-transition-old(front-page) {
    animation: .3s ease-in-out both slide-out-left;
  }

  &::view-transition-new(front-page) {
    animation: .3s ease-in-out both slide-in-left;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}